*{
  padding: 0px;
  margin:0px;
}

section {
  background-color: aquamarine;
}

#left, #right {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}

#left {
  background-color: beige;
}

#right {
  background-color: bisque;
}

